.journal-list {
	margin-top: 30px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	height: 100%;
	overflow-x: scroll;
	max-width: 402px;
}
.journal-list__empty {
	color: var(--color-text);
	font-size: 16px;
	font-weight: 400;
	white-space: nowrap;
	line-height: 28px;
	text-align: center;
}
