:root {
	font-family: 'Sourse Sans 3', sans-serif;
	line-height: 1.5;
	font-weight: 400;
	--color-bg: #181818;
	--color-text: #fff;
	--color-button-bg: #312eb5;
	--color-button-bgHover: #2a28a2;
	--transition: 0.25s;
	--radius-3: 3px;
	--radius-6: 6px;
	--layout: 1440px;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smothing: grayscale;
	-wevbkit-text-size-abjust: 100%;
}
body {
	margin: 0;
	padding: 0;

	background-color: var(--color-bg);
	box-sizing: border-box;
}
